body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    width: 750px;
    font-size: larger;
    margin-bottom: 20px;
}

details {
    padding: 10px;
}
summary {
    cursor: pointer;
    font-family: 'Helvetica', sans-serif;
}

.center {
    margin: auto;
    text-align: center;
    align-items: center;
}

.content-container {
    width: 11in;
    padding: 20px;
}
.homepage-container {
    width: 7in;
    padding: 20px;
}

.content {
    text-align: left;
    display: flex;
    flex-direction: column;
}
.content img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto; /* images horizontally */
}

p {
    margin: 0;
    padding: 7px;
}

/* ====================================== INDIVIDUAL IMAGE STYLINGS ====================================== */
.headshot {
    max-width: 75% !important;
    height: auto;
    border-radius: 5px;
}
.pmmc {
    max-width: 40% !important;
    height: auto;
    border: 2px solid #000;
}
.rewrite {
    max-width: 75% !important;
    height: auto;
    border: 2px solid #000;
}
.campusmap {
    max-width: 75% !important;
    height: auto;
    border: 2px solid #000;
}
.pacman {
    max-width: 33% !important;
    height: auto;
    border: 2px solid #000;
}
.valueiteration {
    max-width: 40% !important;
    height: auto;
    border: 2px solid #000;
}
/* ====================================== END INDIVIDUAL IMAGE STYLINGS ====================================== */

.button {
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-size: larger;
}
.button:hover {
    background-color: rgb(126, 221, 255);
}

/* NAVIGATION BAR STYLES */
.navbar {
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
    align-items: center; /* vertically center items in the navbar */
    border-bottom: 1px solid black;
}
/* BUTTON STYLES */
.button-container {
    display: flex;
    justify-content: center;
    gap: 25px
}
.navbar-button {
    text-align: center;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: large;
    /*font-weight: bold;*/
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.text {
    font-family: 'Times New Roman', serif;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-container img {
    max-width: 100%;
    margin-left: 20px;
}